backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Featured Post", name: "featuredpost", widget: "boolean"}
      - {label: "Featured Image", name: "featuredimage", widget: image}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list"}

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "Landing Page"
        name: "index"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "index-page"}
          - {label: Main Pitch, name: mainpitch, widget: string}
          - {label: Image, name: image, widget: image}
          - label: "Intro"
            name: intro
            widget: object
            fields:
              - {label: Heading, name: heading, widget: string}
              - {label: Subheading, name: subheading, widget: string}
              - {label: Description, name: description, widget: markdown}
          - label: "Why MasterQSA?"
            name: why
            widget: object
            fields:
              - {label: Heading, name: heading, widget: string}
              - {label: Description, name: description, widget: markdown}
              - {label: Image, name: image, widget: image}
          - label: "Pricing"
            name: pricing
            widget: object
            fields:
              - {label: Heading, name: heading, widget: string}
              - {label: Image, name: image, widget: image}
      - file: "src/pages/about/index.md"
        label: "About Us"
        name: "about"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "about-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Description", name: "description", widget: "markdown"}
          - label: "Intro"
            name: intro
            widget: object
            fields:
              - {label: Heading, name: heading, widget: string}
              - {label: "Description", name: "description", widget: "markdown"}
          - label: Pitches
            name: pitches
            widget: list
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Description", name: "description", widget: "markdown"}
              - {label: "Icon", name: "icon", widget: "select", options: ["FocusedIcon", "ProductivityIcon", "DevelopedIcon"]}
      - file: "src/pages/contact/index.md"
        label: "Contact"
        name: "contact"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "contact-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Address", name: "address", widget: "string"}
          - {label: "Phone", name: "phone", widget: "string"}
          - {label: "Email", name: "email", widget: "string"}
          - {label: "Contact Form Title", name: "formTitle", widget: "string"}
          - {label: Image, name: image, widget: image}
      - file: "src/pages/products/index.md"
        label: "Products Page"
        name: "products"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "product-page"}
          - {label: Title, name: title, widget: string}
          - {label: Image, name: image, widget: image}
          - {label: Heading, name: heading, widget: string}
          - {label: Description, name: description, widget: string}
          - {label: Intro, name: intro, widget: object, fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}, {label: Blurbs, name: blurbs, widget: list, fields: [{label: Image, name: image, widget: image}, {label: Text, name: text, widget: text}]}]}
          - {label: Main, name: main, widget: object, fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}, {label: Image1, name: image1, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Alt, name: alt, widget: string}]}, {label: Image2, name: image2, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Alt, name: alt, widget: string}]}, {label: Image3, name: image3, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Alt, name: alt, widget: string}]}]}
          - {label: Testimonials, name: testimonials, widget: list, fields: [{label: Quote, name: quote, widget: string}, {label: Author, name: author, widget: string}]}
          - {label: Full_image, name: full_image, widget: image}
          - {label: Pricing, name: pricing, widget: object, fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: string}, {label: Plans, name: plans, widget: list, fields: [{label: Plan, name: plan, widget: string}, {label: Price, name: price, widget: string}, {label: Description, name: description, widget: string}, {label: Items, name: items, widget: list}]}]}
      - file: "src/pages/pricing/index.md"
        label: "Pricing Page"
        name: "pricing"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "product-page"}
          - {label: Title, name: title, widget: string}
          - {label: Image, name: image, widget: image}
          - {label: Heading, name: heading, widget: string}
          - {label: Description, name: description, widget: string}
          - {label: Intro, name: intro, widget: object, fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}, {label: Blurbs, name: blurbs, widget: list, fields: [{label: Image, name: image, widget: image}, {label: Text, name: text, widget: text}]}]}
          - {label: Main, name: main, widget: object, fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}, {label: Image1, name: image1, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Alt, name: alt, widget: string}]}, {label: Image2, name: image2, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Alt, name: alt, widget: string}]}, {label: Image3, name: image3, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Alt, name: alt, widget: string}]}]}
          - {label: Testimonials, name: testimonials, widget: list, fields: [{label: Quote, name: quote, widget: string}, {label: Author, name: author, widget: string}]}
          - {label: Full_image, name: full_image, widget: image}
          - {label: Pricing, name: pricing, widget: object, fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: string}, {label: Plans, name: plans, widget: list, fields: [{label: Plan, name: plan, widget: string}, {label: Price, name: price, widget: string}, {label: Description, name: description, widget: string}, {label: Items, name: items, widget: list}]}]}

  - name: "components"
    label: "Components"
    files:
      - name: "callToAction"
        label: "Call to Action"
        file: "src/content/callToAction.md"
        fields:
          - {label: "Content Key", name: "contentKey", widget: "hidden", default: "callToAction"}
          - {label: Title, name: title, widget: string}
          - {label: Description, name: descriptionMd, widget: markdown}
          - {label: Image, name: image, widget: image}
      - name: "plans"
        label: "Plans"
        file: "src/content/plans.md"
        fields:
          - {label: "Content Key", name: "contentKey", widget: "hidden", default: "plans"}
          - label: Plans
            name: plans
            widget: list
            fields:
              - {label: "Plan Name", name: "name", widget: "string"}
              - {label: "Plan Amount (in cents)", name: "amount", widget: "number"}
              - {label: "Terms", name: "terms", widget: "string"}
              - {label: "Color", name: "color", widget: "string"}
              - {label: "Features", name: "features", widget: "list"}
      - name: "footer"
        label: "Footer"
        file: "src/content/footer.md"
        fields:
          - {label: "Content Key", name: "contentKey", widget: "hidden", default: "footer"}
          - {label: "'Contact Us' title", name: "contactTitle", widget: "string"}
          - {label: "'Information' title", name: "informationTitle", widget: "string"}
          - {label: "Copyright", name: "copyright", widget: "string"}
          - label: Links
            name: links
            widget: list
            fields:
              - {label: "Link label", name: "label", widget: "string"}
              - {label: "Path", hint: "relative, i.e. 'pricing' for 'https://www.masterqsa.com/pricing'", name: "path", widget: "string"}
          - label: Social media links
            name: socialMedia
            widget: list
            fields:
              - {label: "Social network", name: "socialNetwork", widget: "select", options: ["facebook", "twitter", "instagram", "vimeo"]}
              - {label: "Link title", name: "title", widget: "string"}
              - {label: "URL", name: "href", widget: "string"}

